.locs-container {
    background-color: var(--bg4);
    padding: 0.5em;
    border-radius: 15px;
    margin-block: 1em;
}

.loc-list {
    list-style: none;
    padding: 0;
}

.loc-list li {
    border-radius: 15px;
    margin: 6px;
    padding: 5px;
    padding-bottom: .2em;
    border-bottom: 3px solid #222;
    background-color: var(--bg3);
    transition: 0.4s scale;
}

.loc-list li h4 {
    display: flex;
    justify-content: space-between;
    color: white;
}

.loc-list li.active {
    color: var(--color3);
    scale: 1.03;
}

.loc-list li.active .muted {
    color: var(--color4);
}

.loc-btns {
    text-align: end;
}

.map {
    width: 100%;
    min-height: 100vh;
    border-radius: 15px;
    margin: 10px;
}

.form-search {
    display: block;
    text-align: end;
}

.btn-user-pos {
    background-color: var(--bg1);
    background-image: url(../../img/user-loc.png);
    background-size: cover;
    width: 2em;
    height: 2em;
}

.btn-user-pos:hover {
    background-color: whitesmoke;
}

.loc-filter {
    background-color: var(--bg1);
    padding: 0.3em;
}

.loc-filter input[type=text] {
    width: 98%;
    margin-bottom: .5em;
}

.pie {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    /* background-image: conic-gradient(orange 0%, orange 64%, blue 64%, blue 81%, black 81%, black 100%); */
}

.loc-stats {
    background-color: var(--bg4);
    border-radius: 15px;
    padding: 0.3em;
}

.loc-stats ul {
    list-style-type: none;
    display: inline-block;
    text-transform: capitalize;
}

.loc-stats .pie-label {
    display: inline-block;
    background-color: black;
    width: 1em;
    height: 1em;
    margin-inline-end: 0.3em;
}

.loc-stats h3,
h4,
li {
    color: var(--bg1);
}