html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--bg1);
    color: var(--bg1);
    overflow-x: hidden;
}

header {
    background-color: var(--bg4);
    color: aliceblue;
    padding: 0.4em;
    border-radius: 15px;
}

header h1 {
    margin: 0;
    color: var(--bg1);
}

input[type=text],input[type=number] {
    line-height: 2em;
    background-color: var(--color1);
    border: 0;
}

button {
    color: whitesmoke;
    border: 0;
    border-radius: .2em;
    background-color: #222;
    padding: 6px 10px;
    margin: 2px;
    cursor: pointer;
    transition: background-color .5s;
}

button:hover {
    color: var(--bg1);
    background-color: #111;
}

.muted {
    font-size: .9em;
    color: var(--gray1);
}

.smaller {
    font-size: .8em;
}

